:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #f3f5fc;
  --secundario: #0a3871;
  --gris: #495057;
  --aqua: #00ffff;
  --ancho-max-container: 75rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;

  font-family: "Inter", sans-serif;

  background: var(--primario);
}

header {
  padding-top: 40px;
  padding-left: 0;
}

.logo {
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-img {
  width: 120px;
  height: 48px;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.section {
  display: flex;
  justify-content: space-between;
}

.container-box {
  padding-top: 3rem;
  width: var(--ancho-max-container);
  height: 65rem;
}

.text-box {
  width: var(--ancho-max-container);
  height: 45rem;
  font-family: "Inter", sans-serif;
  border: none;
  background-color: var(--primario);
  cursor: pointer;
  color: var(--secundario);
  font-size: 32px;
  outline: none;
  resize: none;
}

.text-box::placeholder,
.text-box:hover {
  color: var(--secundario);
}

.alert {
  width: var(--ancho-max-container);
  height: 3.5rem;
}

.container-btn {
  justify-content: space-around;
}

.btn-encrypt,
.btn-decrypt {
  width: 328px;
  height: 6.5rem;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.btn-encrypt {
  background-color: var(--secundario);
  color: var(--blanco);
  border: none;
  margin-right: 20px;
}

.btn-decrypt {
  background-color: var(--primario);
  color: var(--secundario);
  border: 1px solid var(--secundario);
}

.section-right {
  position: relative;
  display: flex;
  width: 400px;
  height: 780px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.5);
}

.container-person {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.container-parrafo {
  position: absolute;
  box-sizing: border-box;
  top: 500px;
  width: 100%;
}

.container-parrafo h3 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: var(--gris);
}

.container-parrafo p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--gris);
}

.container-result {
  position: absolute;
  width: 400px;
  height: 350px;
  overflow-wrap: break-word;
}

.container-result p {
  color: var(--gris);
  font-size: 25px;
  padding: 0px 30px;
}

.container-copy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}

.btn-copy {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  background-color: var(--blanco);
  color: var(--secundario);
  font-size: 16px;
  font-weight: 400;
  border: 1px solid var(--secundario);
  cursor: pointer;
  right: 4px;
  margin-top: 650px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.ocultar {
  display: none;
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  header {
    padding-top: 20px;
  }

  .contenedor {
    max-width: 100%;
  }
  .container-box {
    padding-top: 1rem;
    max-width: 100%;
    height: 50rem;
  }

  .text-box {
    width: 100%;
    height: 100%;
  }

  .section {
    display: block;
  }

  .alert {
    width: 100%;
    text-align: center;
  }

  .contenedor {
    max-width: 100%;
  }

  .btn-encrypt {
    margin-bottom: 20px;
  }

  .container-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-encrypt,
  .btn-decrypt {
    width: 100%;
    margin: 10px 0;
  }

  .section-right {
    width: 100%;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  header {
    padding-top: 20px;
  }

  .contenedor {
    max-width: 100%;
  }
  .container-box {
    padding-top: 1rem;
    max-width: 100%;
    height: 50rem;
  }

  .text-box {
    width: 100%;
    height: 100%;
  }

  .section {
    display: block;
  }

  .alert {
    width: 100%;
    text-align: center;
  }

  .contenedor {
    max-width: 100%;
  }

  .btn-encrypt {
    margin-bottom: 20px;
  }

  .container-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-encrypt,
  .btn-decrypt {
    width: 100%;
    margin: 10px 0;
  }

  .section-right {
    width: 100%;
  }

  .container-person{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }
}
